{% extends 'base.html.twig' %}

{% block body %}
	<style>
		body {
			margin: 40px;
		}
	</style>
	<br>
	<table>
		{% if is_granted('ROLE_ADMIN') %}
			<h2>Nouveau Livre</h2>
			<center>
				<a class="btn" style="width:50%; heigth:50%">
					<i class="bi bi-plus">
						{{ include('livre/_form.html.twig', {'button_label': 'Enregister'}) }}
					</i>
				</a>
			</center>
			<a href="{{ path('livre_index') }}" class="btn btn-secondary" style="margin-left:30px">back to list</a>
		</table>
	{% else %}
		<h1>404 page</h1>
	{% endif %}
{% endblock %}
