{% extends 'base.html.twig' %}

{% block title %}Edit Auteur
{% endblock %}
{% block body %}
	<table>
		{% if is_granted('ROLE_ADMIN') %}
			<br>
			<h2>Edit Auteur</h2>
			<center>
				<a class="btn  m-12" style="width:50%; heigth:50%">
					<i class="bi bi-pen">
						{{ include('auteur/_form.html.twig', {'button_label': 'Modifier'}) }}
					</i>
					<button class="btn btn-danger">
						<i class="bi bi-trash">
							{{ include('auteur/_delete_form.html.twig') }}
						</i>
					</button>
				</a>
			</center>
			<a href="{{ path('auteur_index') }}" class="btn btn-secondary" style="margin-left:30px">back to list</a>
		</table>
	{% else %}
		<h1>404 page</h1>
	{% endif %}
{% endblock %}
