{% extends 'base.html.twig' %}

{% block title %}New Auteur
{% endblock %}

{% block body %}
	{% if is_granted('ROLE_ADMIN') %}

		<h1>Create new Auteur</h1>

		{{ include('auteur/_form.html.twig') }}

		<a href="{{ path('auteur_index') }}" class="btn btn-secondary">back to list</a>
	{% else %}
		<h1>404 page</h1>
	{% endif %}
{% endblock %}
